<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsc.mapper.BoardMapper">

    <sql id="boardColumns">
            idx
           ,eType
           ,evtNm
           ,enEvtNm
           ,oranized
           ,enOranized
           ,stDate
           ,edDate
           ,place
           ,enPlace
           ,contents
           ,enContents
           ,evtTime
           ,enEvtTime
           ,evtFee
           ,enEvtFee
           ,orgImg
           ,savImg
           ,orgQrImg
           ,savQrImg
           ,orgEnQrImg
           ,savEnQrImg
           ,useYn
           ,regDate
           ,uptDate
           ,deleteYn
    </sql>
    
    <!--<insert id="insertBoard" parameterType="BoardDTO">-->
    <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="idx">
      INSERT INTO tbl_event(
             <include refid="boardColumns" />
      ) VALUES (
        #{idx}
      , #{eType}  
      , #{evtNm}
      , #{enEvtNm}
      , #{oranized}
      , #{enOranized}
      , #{stDate}
      , #{edDate}
      , #{place}
      , #{enPlace}
      , #{contents}
      , #{enContents}
      , #{evtTime}
      , #{enEvtTime}
      , #{evtFee}
      , #{enEvtFee}
      , #{orgImg}
      , #{savImg}
      , #{orgQrImg}
      , #{savQrImg}
      , #{orgEnQrImg}
      , #{savEnQrImg}
      , 'Y'
      , Now()
      , NULL
      , 'N' 
      )
      
    </insert>
    
    <select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">

      SELECT
           <include refid="boardColumns" />
      FROM
         tbl_event
      WHERE
        idx = #{idx}
          
    </select>
    
    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE tbl_event
        SET
            eType        = #{eType}
          , evtNm        = #{evtNm}
          , enEvtNm      = #{enEvtNm}
          , oranized     = #{oranized}
          , enOranized   = #{enOranized}
          , stDate       = #{stDate}
          , edDate       = #{edDate}
          , place        = #{place}
          , enPlace      = #{enPlace}
          , contents     = #{contents}
          , enContents   = #{enContents}
	      , evtTime      = #{evtTime}
	      , enEvtTime    = #{enEvtTime}
	      , evtFee       = #{evtFee}
	      , enEvtFee     = #{enEvtFee}          
          , orgImg       = #{orgImg}
          , savImg       = #{savImg}
          , orgQrImg     = #{orgQrImg}
          , savQrImg     = #{savQrImg}
          , orgEnQrImg   = #{orgEnQrImg}
          , savEnQrImg   = #{savEnQrImg}
          , useYn        = #{useYn} 
          , uptDate      = NOW()
        WHERE idx    = #{idx}
    </update>
    
    <update id="deleteBoard" parameterType="BoardDTO">
        UPDATE tbl_event
        SET
            deleteYn  = 'Y'
          , uptDate = NOW()
        WHERE idx = #{idx}
    </update>
    
    <select id="selectBoardList" parameterType="BoardDTO"  resultType="BoardDTO">
        SELECT
           <include refid="boardColumns" />
        FROM
            tbl_event
        WHERE deleteYn='N'
        <include refid="CommonMapper.search" />
        ORDER BY
          idx DESC,
          regDate ASC
        <include refid="CommonMapper.paging" />
    </select>
    
    <select id="selectBoardTotalCount" parameterType="BoardDTO"  resultType="int">
        SELECT
            COUNT(*)
        FROM
            tbl_event
        WHERE deleteYn='N'
        <include refid="CommonMapper.search" />
    </select>
    
    
</mapper>