<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsc.mapper.CommentMapper">

	<sql id="commentColumns">
		  idx
		, board_idx
		, content
		, writer
		, useYn
		, regDate
		, uptDate
	</sql>

	<insert id="insertComment" parameterType="CommentDTO">
		INSERT INTO tbl_comment (
			<include refid="commentColumns" />
		) VALUES (
			  #{idx}
			, #{boardIdx}
			, #{content}
			, #{writer}
			, IFNULL(#{useYn}, 'N')
			, NOW()
			, NULL
		)
	</insert>

	<select id="selectCommentDetail" parameterType="long" resultType="CommentDTO">
		SELECT
			<include refid="commentColumns" />
		FROM
			tbl_comment
		WHERE
			useYn = 'N'
		AND
			idx = #{idx}
	</select>

	<update id="updateComment" parameterType="CommentDTO">
		UPDATE tbl_comment
		SET
			  uptDate  = NOW()
			, content  = #{content}
			, writer   = #{writer}
		WHERE
			idx = #{idx}
	</update>

	<update id="deleteComment" parameterType="long">
		UPDATE tbl_comment
		SET
			  useYn = 'Y'
			, uptDate = NOW()
		WHERE
			idx = #{idx}
	</update>

	<select id="selectCommentList" parameterType="CommentDTO" resultType="CommentDTO">
		SELECT
			<include refid="commentColumns" />
		FROM
			tbl_comment
		WHERE
			useYn = 'N'
		AND
			board_idx = #{boardIdx}
		ORDER BY
			idx DESC,
			regDate DESC
	</select>

	<select id="selectCommentTotalCount" parameterType="CommentDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tbl_comment
		WHERE
			useYn = 'N'
		AND
			board_idx = #{boardIdx}
	</select>

</mapper>